<!--
  Generated template for the EstatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Estates in {{locationName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let group of estates | groupBy:'region'| pairs">
    <ion-item-divider color="secondary">
      <ion-label> {{group[0]}} </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let estate of group[1]">
      <ion-thumbnail (click)="goToEstateHome(estate)" item-start>
        <img src="{{estate.image}}" />
      </ion-thumbnail>
      <ion-list>
        <ion-row>
          <ion-col text-wrap>
            <h3>{{estate.refNumber}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-wrap>
            <p>{{estate.type}}, {{estate.bedrooms}} bedrooms</p>
          </ion-col>          
          <ion-col>
            <a role="button" (click)="goToEstateHome(estate)" style="float:right">View</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-wrap>
            <p>{{estate.region}}</p>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
